Create Table by Copy Python sqlalchemy

In [9]:
import pandas as pd

In [5]:
f1 = 'C:\\Users\\Admin\\Downloads\\original\\\data2\\goods_customer.csv'
d1 = 'goods_customer'
f2 = 'C:\\Users\\Admin\\Downloads\\original\\\data2\\goods.csv'
d2 = 'goods'
f3 = 'C:\\Users\\Admin\\Downloads\\original\\\data2\\goods_promotion.csv'
d3 = 'goods_promotion'
f4 = 'C:\\Users\\Admin\\Downloads\\original\\\data2\\goods_sell.csv'
d4 = 'goods_sell'

In [2]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://*****:************@localhost:5432/postgres')

In [6]:
datalist = [d1, d2, d3, d4]
filelist = [f1, f2, f3, f4]

In [12]:
for i in range(10):
    d = datalist[i]
    f = filelist[i]
    df = pd.read_csv(f)
    print('-----data read from csv into DF' + d + '------')
    print(df.head())
    sql = 'DROP TABLE IF EXISTS public.' + d + "CASCADE;"
    engine.execute(sql)
    df.to_sql(d,engine)
    print('----- data converted into database' + d + '------')
    sql = 'SELECT * from public.' + d
    data_db = pd.read_sql_query((sql), engine)
    print(data_db.head())
    
print("complete data injestion!")

-----data read from csv into DFgoods_customer------
      Customer_key   Customer_name   opendate               email_address  \
0  C10038000070000  Lance Townsend  19JUL2010       Lance772@@webmail.com
1  C10060860270000    Lillian Neal  14DEC2011     Lillian578@@webmail.com
2  C10197083000000     Joann Black  14APR2010       Joann414@@webmail.com
3  C10287306230000     Ron Chapman  21FEB2011  Ron.Chapman633@hotmail.com
4  C10453215110000    Mary Manning  25OCT2010   ManningMary@freespace.com

                                    Customer_address  Contact_phone  \
0  9323 Hidden Concession, Possumtown, AK, 99972-...  (907)474-8639
1                                                NaN            NaN
2  2672 Middle Apple Route, Benchmark, AL, 36364-...  (256)116-4057
3                                                NaN            NaN
4                                                NaN            NaN

                                   Occupation   income   birthday
0                     Mathematical Technician      NaN  05NOV1991
1                               Surgeons (MD)  $63,000  18FEB1954
2                         Computer Programmer  $58,000  24JUN1965
3                                         NaN  $35,000  23OCT1991
4  Technical & Scientific Publications Editor  $51,000  10SEP1962
----- data converted into databasegoods_customer------
   index     Customer_key   Customer_name   opendate  \
0      0  C10038000070000  Lance Townsend  19JUL2010
1      1  C10060860270000    Lillian Neal  14DEC2011
2      2  C10197083000000     Joann Black  14APR2010
3      3  C10287306230000     Ron Chapman  21FEB2011
4      4  C10453215110000    Mary Manning  25OCT2010

                email_address  \
0       Lance772@@webmail.com
1     Lillian578@@webmail.com
2       Joann414@@webmail.com
3  Ron.Chapman633@hotmail.com
4   ManningMary@freespace.com

                                    Customer_address  Contact_phone  \
0  9323 Hidden Concession, Possumtown, AK, 99972-...  (907)474-8639
1                                               None           None
2  2672 Middle Apple Route, Benchmark, AL, 36364-...  (256)116-4057
3                                               None           None
4                                               None           None

                                   Occupation   income   birthday
0                     Mathematical Technician     None  05NOV1991
1                               Surgeons (MD)  $63,000  18FEB1954
2                         Computer Programmer  $58,000  24JUN1965
3                                        None  $35,000  23OCT1991
4  Technical & Scientific Publications Editor  $51,000  10SEP1962
-----data read from csv into DFgoods------
                 product  product_key  product_price  weight  department_key  \
0               Shelving      6175777          194.1    22.7              13
1  Natural  and  Organic     10892816           56.3    62.4              22
2                Gourmet     57621472           80.0    50.7              30
3            Ingredients     67997918           43.2    60.3              92
4        Frozen Products     77074878          153.8    82.1              15

   sku_number product_cost
0        1298     $120.30
1         868      $44.50
2         970      $51.00
3         198      $25.20
4         283     $108.70
----- data converted into databasegoods------
   index                product  product_key  product_price  weight  \
0      0               Shelving      6175777          194.1    22.7
1      1  Natural  and  Organic     10892816           56.3    62.4
2      2                Gourmet     57621472           80.0    50.7
3      3            Ingredients     67997918           43.2    60.3
4      4        Frozen Products     77074878          153.8    82.1

   department_key  sku_number product_cost
0              13        1298     $120.30
1              22         868      $44.50
2              30         970      $51.00
3              92         198      $25.20
4              15         283     $108.70
-----data read from csv into DFgoods_promotion------
   promotion_key          coupon_type  promotion_cost promotion_begin_date  \
0              1  Manufacturer Coupon            0.06            12-Apr-10
1              2             eCoupons            0.18            12-Apr-10
2              3             eCoupons            0.01            12-Apr-10
3              4             eCoupons            0.12            13-Apr-10
4              5             eCoupons            0.12            14-Apr-10

  promotion_end_date   price_reduction_type  product_key  sales_key
0          19-May-10                Rebates    166419222         66
1          12-May-10                 Redeem     77074878         73
2           9-May-10  Free goods with sales    166419222         60
3          24-May-10  Buy one, get one free    166419222         33
4          26-May-10  Buy one, get one free    166419222         29
----- data converted into databasegoods_promotion------
   index  promotion_key          coupon_type  promotion_cost  \
0      0              1  Manufacturer Coupon            0.06
1      1              2             eCoupons            0.18
2      2              3             eCoupons            0.01
3      3              4             eCoupons            0.12
4      4              5             eCoupons            0.12

  promotion_begin_date promotion_end_date   price_reduction_type  product_key  \
0            12-Apr-10          19-May-10                Rebates    166419222
1            12-Apr-10          12-May-10                 Redeem     77074878
2            12-Apr-10           9-May-10  Free goods with sales    166419222
3            13-Apr-10          24-May-10  Buy one, get one free    166419222
4            14-Apr-10          26-May-10  Buy one, get one free    166419222

   sales_key
0         66
1         73
2         60
3         33
4         29
-----data read from csv into DFgoods_sell------
  saledate_key shippinp_date_key  sales_quantity transaction_type  sales_key  \
0     1000007D          1720480S               8       MASTERCRAD      23232
1     1000084D          4722124S               7           PAYPAL      15213
2     1000103D            73497S               9             AMEX        642
3     1000173D          5195736S               7             AMEX      26452
4     1000196D          1705305S               7             VISA      28804

   product_key     customer_key  price
0    186885062  C98222996620000   11.3
1    222029073  C57805531080000    7.1
2    441945663  C69946542930000    5.6
3    351572839  C25123810550000   13.0
4    178292716  C98061183840000    1.8
----- data converted into databasegoods_sell------
   index saledate_key shippinp_date_key  sales_quantity transaction_type  \
0      0     1000007D          1720480S               8       MASTERCRAD
1      1     1000084D          4722124S               7           PAYPAL
2      2     1000103D            73497S               9             AMEX
3      3     1000173D          5195736S               7             AMEX
4      4     1000196D          1705305S               7             VISA

   sales_key  product_key     customer_key  price
0      23232    186885062  C98222996620000   11.3
1      15213    222029073  C57805531080000    7.1
2        642    441945663  C69946542930000    5.6
3      26452    351572839  C25123810550000   13.0
4      28804    178292716  C98061183840000    1.8

IndexError: list index out of range